.Contenedor-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
    width: 100vw;
    background-color:   #b4d8f0;  

}
.Pantalla-principal{

    background-color: #f0f4f5;
    width: 100vh;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 50px 100px 30px 120px;
    box-shadow: rgb(16, 59, 87) 0px 0px 20px 0px;
    position: relative;
    overflow: hidden;
    animation: aparecerSuave 0.8s ease forwards;

}
.navbar-container-dashboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    display: flex;
    z-index: 3;
}

.navbar-container-dashboard .navbar {
    width: 100%;
    height: 100%;
    min-height: 100%;
    border-radius: 0;
    box-shadow: none;
}
.contendor-formulario{
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
.Formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    z-index: 4;
    /* border: 2px solid red;  // descomenta para depuración visual */
}
input[type="number"]{
    margin:5px 0px;
}

.boton-enviar{
    background-color: #5988ce ; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 80%;
     transition: background 0.2s;
}
.boton-enviar:hover{
    background-color: #084b75;
}


.contenedor-grafica{
position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 200px;
    z-index: 2;
}
.contenedor-grafica-barra{
    position: absolute;
    bottom: 20px;
    top: 40%;
    left: 70%;
    right: 20px;
    width: 250px;
    height: 300px;
    z-index: 2;
}

h1{
    color: #084b75;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
h2{
    color: #084b75;
    font-size: 17px;
    margin-bottom: 15px;
    text-align: center;
}

.resultado-positivo{
    text-align: center;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    color: green;
    
}
.resultado-negativo{
    text-align: center;
   
    font-size: 15px;
    color: red;
}

@keyframes aparecerSuave {
  from {
    opacity: 0;
    transform: translateY(20px); /* empieza un poco abajo */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* vuelve a su lugar */
  }
}